// Colors
$black: #000;
$white: #fff;

$black-two: #1a1a1a;

$beige: #f8f4e8;
$green: #9bb909;
$red: #e6534e;
$jungle-green: #36a585;
$yellow: #ffd202;
$tomato: #ec6620;


$greyDark: #1e1e1e;
$lightGrey: #faf9f9;
$greyish-brown: #4a4a49;
$couleurs-bleu-logo: #26336e;
$couleurs-gris-bleu-clair: #f4f5f9;
$rouge: #b62040;
$dark-slate-blue: #132f4a;
$couleurs-gris-logo: #c5c6cc;
$battleship-grey: #7b7c83;
$couleurs-bleu-clair: #00adee;
$couleurs-noir: #1e1e1e;
$couleurs-bleu-plaquette: #00538f;
$couleurs-bleuclair-over: #39c8fe;

$color-main: $black;
$color-alt: $couleurs-bleu-logo;

$text-color-main: $color-main;
$text-color-alt: rgba(0,0,0,0.8);
