section{
    margin: 40px 27px 0px 27px;
    // padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      + iframe {
        margin-top: 40px;
      }
    }

    @media #{$tab2}{
        margin-left:249px;
        margin-right:249px;
    }

    @media #{$desk}{
        margin-left:312px;
        margin-right:312px;
    }

    @media #{$extend}{
        margin-left:352px;
        margin-right:352px;
    }

    @media #{$extend2}{
        margin-top:73px;
        margin-left:470px;
        margin-right:470px;
    }
}

.section-content {

  &--white {
    position: relative;
    background-color: $white;
    margin-top: 0;
    padding-top: 40px;
    > h2 {
      margin-top: 0;
    }
    &:before {
      content: '';
      background: $white;
      display: block;
      position: absolute;
      z-index: -1;
      height: calc(100% + 40px);
      width: 100vw;
      left: 50%;
      transform: translate(-50%, -40px);
      @media #{$extend2}{
        height: calc(100% + 7px + 73px);
        transform: translate(-50%, -73px);
      }
    }
  }
}

.generic-content{

    h2{
        @media #{$tab2}{
            margin-top:50px;
        }

        @media #{$desk}{
            margin-top:63px;
        }

        @media #{$extend}{
            margin-top:71px;
        }

        @media #{$extend2}{
            margin-top:95px;
        }
    }
}
    .icon-title{
        display:none;

        @media #{$desk}{
            display:inline;
            width: 28px;
            height: 28px;
            border-width: 6px;
            border-style:solid;
            margin-right: 30px;
            float:left;
            border-radius: 15px;
        }

        @media #{$extend}{

            width: 32px;
            height: 32px;
        }

        @media #{$extend2}{

            width: 43px;
            height: 43px;
            border-width:10px;
            border-radius: 20px;
            margin-right: 40px;
        }

            &.green{
                border-color:$green;
            }

            &.orange{
                border-color:$tomato;
            }

    }
